{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@": "./"
            }
          }
        ]
      ]
    }
  }
}
